<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>Questonaut</string>
	<key>CFBundleIdentifier</key>
	<string>com.floriankriegl.Questonaut</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Questonaut</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Qeustonaut needs to access to your photo library.</string>
	<key>NSCameraUsageDescription</key>
	<string>Questonaut needs to access to your Camera.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Questonaut needs to access to the photo gallery.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Questonaut needs to access to your microphone.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Questonaut needs to access to your gps data.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Questonaut needs to access to your gps data.</string>
	<key>NSMotionUsageDescription</key>
	<string>Questonaut needs to access your motion data.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>New Entry</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
